* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-color: rgb(20, 20, 20);
}
#hd1 {
    background-color: rgb(14, 14, 14);
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    transition: 0.5s;
}

#lp1 {
    width: 100vw;
    height: 85vh;
    background-color: rgb(20, 20, 20);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#t1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: white;
}

.darklight {
    width: 60px;
    height: 32px;
    background-color: rgb(20, 20, 20);
    border-radius: 19px;
    position: relative;
    transition: background-color 0.6s ease;
    padding: 4px;
    
}

.darklight::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: white;
    top: 2px;
    left: 2px;
    transition: left 0.6s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-left: 3px;
}

.darklight.active {
    background: white;
}

.darklight.active::before {
    left: 29px;
    background-color: black;
}

#lbOpc{
    width: 30%;
    height: 10%;
    
    margin-top: 5px;
}

#ct1{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
    
}

#ctRlg{
    width: 70%;
    height: 40%;
    color: white;
    font-size: 130pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#ctOpc{
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.botao{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(14, 14, 14);
}